.left {
    position: absolute;
    top: 40%;
    left: 20%
}

.right {
    position: absolute;
    top: 40%;
    right: 20%
}

a {
    position: absolute;
    top: 5%;
    right: 10%;
}

/*img{*/
/*height: 130%;*/
/*width: auto;*/
/*}*/

.resize {
    height: 20%;
    width: 25%;
}

